@import "colors";

body {
	font-family: var(fontFamily);
	color: $colorDefault;
	background-image: url(/img/bg.png);
}

a {
	color: $hColor;
	text-decoration: none;
	&:hover {
			color: $hColor;

		text-decoration: none;
	}
}

@mixin textos($color){
	color:$hColor;

}

h1 {
	@include textos(color);
}

h2 {
	@include textos(color);
}
h3 {
	@include textos(color);
}
h4 {
	@extend h1;
}
h5 {
	@extend h1;
}
h6 {
	@extend h1;

}
p {
		color: $hColor;
}
