@import "colors";

* {
  box-sizing: border-box;
}

.body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Centrar Sitio */

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
  padding: 8px;

  >.column {
    padding: 8px;
  }
}

/* Agrega un padding Entre cada columna */
/* Crea tres columnas iguales que estan flotando una al lado de la otra*/

.column {
  float: left;
  width: 33.33%;
  display: none;

  /* Oculta todos los elementos por defecto */
}

/* Borra floats despues de las filas */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Contenido del content */

.content {
  background-color: white;
  padding: 10px;
}



.show {
  display: block;
}

/* Estilo de botones */

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: $colorPrimary;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }

  &.active {
    background-color: #666;
    color: white;
  }
}