$colorDefault: #0a0d13;
$colorPrimary: #0d42ff;
$colorSecondary: #0e1d34;
$hColor: #ffffff;
$gBlue: rgba(14, 29, 52, 0.9);
$gGray: rgba(255, 255, 255, 0.6);
$genericWhite: #fff;
$genericGray: rgba(255, 255, 255, 0.7);
$genericBlue: rgba(13, 66, 255, 0.8);
$genericBlack: #000000;
$genericGreen: #009e05;
$colorShadow: rgba(127, 137, 161, 0.25);
$bgDarkBs: #292b2c;

$blue: #B5E6F5;
$red: #ff1100;
$yellow: #e7eaad;
$green: #80a579;

$colors:(
      “info: $blue,
      “danger”: $red,
      “warning”: $yellow,
      “success: $green
      );

@each $name, $value in $colors {
    .bg-#{$name} {
      background-color: $value;
    }
  }