$colorDefault: #0a0d13;
$colorPrimary: #0d42ff;
$colorSecondary: #0e1d34;
$hColor: #ffffff;
$gBlue: rgba(14, 29, 52, 0.9);
$gGray: rgba(255, 255, 255, 0.6);
$genericWhite: #fff;
$genericGray: rgba(255, 255, 255, 0.7);
$genericBlue: rgba(13, 66, 255, 0.8);
$genericBlack: #000000;

