/*Responsive del sitio*/

@media (max-width: 640px) {
	.section-header {
		h2 {
			font-size: 28px;
			margin-bottom: 15px;
		}

		span {
			font-size: 38px;
		}
	}
}

@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}

@media (min-width: 1280px) {
	.navbar {
		padding: 0;

		ul {
			margin: 0;
			padding: 0;
			display: flex;
			list-style: none;
			align-items: center;
		}

		li {
			position: relative;

			&:hover {
				>a {
					color: $genericWhite;
				}
			}
		}

		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 0 10px 30px;
			font-family: var(--font-primary);
			font-size: 16px;
			font-weight: 400;
			color: $gGray;
			white-space: nowrap;
			transition: 0.3s;

			&:focus {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 10px 0 10px 30px;
				font-family: var(--font-primary);
				font-size: 16px;
				font-weight: 400;
				color: $gGray;
				white-space: nowrap;
				transition: 0.3s;

				i {
					font-size: 12px;
					line-height: 0;
					margin-left: 5px;
				}
			}

			i {
				font-size: 12px;
				line-height: 0;
				margin-left: 5px;
			}

			&:hover {
				color: $genericWhite;
			}
		}

		.active {
			color: $genericWhite;

			&:focus {
				color: $genericWhite;
			}
		}

		.button {
			background: $colorPrimary;
			padding: 8px 20px;
			margin-left: 30px;
			border-radius: 4px;
			color: $genericWhite;

			&:focus {
				background: $colorPrimary;
				padding: 8px 20px;
				margin-left: 30px;
				border-radius: 4px;
				color: $genericWhite;

				&:hover {
					color: $genericWhite;
					background: $genericBlue;
				}
			}

			&:hover {
				color: $genericWhite;
				background: $genericBlue;
			}
		}

		.dropdown {
			ul {
				display: block;
				position: absolute;
				left: 14px;
				top: calc(100% + 30px);
				margin: 0;
				padding: 10px 0;
				z-index: 99;
				opacity: 0;
				visibility: hidden;
				background: $genericWhite;
				box-shadow: 0px 0px 30px $colorShadow;
				transition: 0.3s;
				border-radius: 4px;

				li {
					min-width: 200px;

					&:hover {
						>a {
							color: $colorPrimary;
						}
					}
				}

				a {
					padding: 10px 20px;
					font-size: 15px;
					text-transform: none;
					font-weight: 400;
					color: $colorSecondary;

					i {
						font-size: 12px;
					}

					&:hover {
						color: $colorPrimary;
					}
				}

				.active {
					&:hover {
						color: $colorPrimary;
					}
				}
			}

			&:hover {
				>ul {
					opacity: 1;
					top: 100%;
					visibility: visible;
				}
			}

			.dropdown {
				ul {
					top: 0;
					left: calc(100% - 30px);
					visibility: hidden;
				}

				&:hover {
					>ul {
						opacity: 1;
						top: 0;
						left: 100%;
						visibility: visible;
					}
				}
			}
		}
	}

	.mobile-nav-show {
		display: none;
	}

	.mobile-nav-hide {
		display: none;
	}
}

@media (min-width: 1280px) and (max-width: 1366px) {
	.navbar {
		.dropdown {
			.dropdown {
				ul {
					left: -90%;
				}

				&:hover {
					>ul {
						left: -100%;
					}
				}
			}
		}
	}
}

@media (max-width: 1279px) {
	.navbar {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		max-width: 400px;
		bottom: 0;
		transition: 0.3s;
		z-index: 9997;

		ul {
			position: absolute;
			inset: 0;
			padding: 50px 0 10px 0;
			margin: 0;
			background: $gBlue;
			overflow-y: auto;
			transition: 0.3s;
			z-index: 9998;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 12px 20px;
			font-family: var(--font-primary);
			font-size: 16px;
			font-weight: 500;
			color: $gGray;
			white-space: nowrap;
			transition: 0.3s;

			&:focus {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 12px 20px;
				font-family: var(--font-primary);
				font-size: 16px;
				font-weight: 500;
				color: $gGray;
				white-space: nowrap;
				transition: 0.3s;

				i {
					font-size: 12px;
					line-height: 0;
					margin-left: 5px;
				}
			}

			i {
				font-size: 12px;
				line-height: 0;
				margin-left: 5px;
			}

			&:hover {
				color: $genericWhite;
			}
		}

		.active {
			color: $genericWhite;

			&:focus {
				color: $genericWhite;
			}
		}

		li {
			&:hover {
				>a {
					color: $genericWhite;
				}
			}
		}

		.button {
			background: $colorPrimary;
			padding: 8px 20px;
			border-radius: 4px;
			margin: 15px;
			color: $genericWhite;

			&:focus {
				background: $colorPrimary;
				padding: 8px 20px;
				border-radius: 4px;
				margin: 15px;
				color: $genericWhite;

				&:hover {
					color: $genericWhite;
					background: $genericBlue;
				}
			}

			&:hover {
				color: $genericWhite;
				background: $genericBlue;
			}
		}

		.dropdown {
			ul {
				position: static;
				display: none;
				padding: 10px 0;
				margin: 10px 20px;
				transition: all 0.5s ease-in-out;
				border: 1px solid $genericBlue;
			}

			.dropdown {
				ul {
					position: static;
					display: none;
					padding: 10px 0;
					margin: 10px 20px;
					transition: all 0.5s ease-in-out;
					border: 1px solid $genericBlue;
				}

				>.dropdown-active {
					display: block;
				}
			}

			>.dropdown-active {
				display: block;
			}
		}
	}

	.mobile-nav-show {
		color: $genericWhite;
		font-size: 28px;
		cursor: pointer;
		line-height: 0;
		transition: 0.5s;
		z-index: 9999;
		margin-right: 10px;
	}

	.mobile-nav-hide {
		color: $genericWhite;
		font-size: 32px;
		cursor: pointer;
		line-height: 0;
		transition: 0.5s;
		position: fixed;
		right: 20px;
		top: 20px;
		z-index: 9999;
	}

	.mobile-nav-active {
		overflow: hidden;

		.navbar {
			right: 0;

			&:before {
				content: "";
				position: fixed;
				inset: 0;
				background: $genericBlue;
				z-index: 9996;
			}
		}
	}
}