@import "colors";

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Botón utilizado para abrir el formulario de contacto - fijo en la parte inferior de la página */

.open-button {
  background-color: $gBlue;
  color: $genericWhite;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* El formulario poppup - oculto por defecto */

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid $genericWhite;
  z-index: 9;
}

/* Estilos del formulario contenedor */

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: $genericBlue;

  input {

    &[type=text],
    &[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: $genericWhite;
    }

    &[type=text]:focus,
    &[type=password]:focus {
      background-color: $genericGray;
      outline: none;
    }
  }

  .btn {
    background-color: $genericGreen;
    color: $genericWhite;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  .cancel {
    background-color: $red;
  }

  .btn:hover {
    opacity: 1;
  }
}

.open-button:hover {
  opacity: 1;
}